jumbotron{
  background-color: yellow;
  text-align: center;
  text-decoration-color: blue;
  opacity: 0.5;
}

.new{
  text-align: center;
}

body{
  background-image: url("https://i.ytimg.com/vi/OYCvbVXkqas/hqdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
